<div class="center jumbotron">
  <h1>Welcome to the Serler Repository</h1>

  <h2>
   Please Login In to submit your online journals
  </h2>
  
<form role="form">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" class="form-control"  />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control" />
  </div>

  <input type="submit" value="Login" />
  <input type="button" value="Cancel" />
</form>

</div>
 
