
<!DOCTYPE html>
    <h1>Reset Your Password for Serler, <%= @user.first_name %></h1>
    <p>
      Dear<%= @user.first_name %>,<br>
      To reset your password click the link below: <br>
      <%= link_to "Reset password", "#" %>
      If you did not request your password to be reset, please ignore this email and your password will stay as it is.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.<br>
      Please change your password after you login successfully.<br>
    </p>
