<h2>Hello World</h2>
<h2>Hello World</h2>
<h2>Hello World</h2>
<h2>Hello World</h2>
<h2>Hello earth</h2>
<h2>Hello earth</h2>
<h2>Hello earth</h2>
<h2>Hello earth</h2>
<h2>Hello earth</h2>
<h2>Hello earth</h2>
<%= link_to 'My Blog', controller: 'articles' %>
<p>
  The time is now: <%= Time.now %>
</p>