<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @uselesstable.name %>
</p>

<%= link_to 'Edit', edit_uselesstable_path(@uselesstable) %> |
<%= link_to 'Back', uselesstables_path %>
