<%= form_for(se_method) do |f| %>
  <% if se_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(se_method.errors.count, "error") %> prohibited this se_method from being saved:</h2>

      <ul>
      <% se_method.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
