<div id="wrapper" style="background-color: White;">
  <footer class="footer">
    <small>
      <a href="http://www.serler.org/">The Serler Online Journal Submission Repository</a>
    
    </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.serlersubmissionguidelines.org/">News</a></li>
    </ul>
  </nav>
</footer>
</div>